:root {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    --purple: #182848;
}



/* UTILITIES */
.active {
    text-decoration: underline;
}

/* END OF UTILITIRS */

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}


/* Designing the header */
header {
    font-size: 2.5rem;
}

header nav ul.navbar-nav * {
    margin-right: 1.5rem;
}

header a.login {
    border: 0.2rem solid var(--purple);
    margin-right: 2rem;
    padding: .5rem;
    font-size: 1.5rem;
}
/* End of header */

